@media screen and (min-width: 768px) {
  .main {
    background-image: url('../assets/desktopbg.png');
    background-size: contain;
    background-position: center;
    padding: 255px 260px 255px 260px;
    width: 100%;
    margin-bottom: 114px;
  }

  #first-title {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    width: 430px;
  }

  #main-description {
    font-size: 20px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  header {
    width: 100%;
    height: 70px;
  }

  #logo {
    left: 155px;
  }

  #hamburger-btn {
    display: none;
  }

  .nav-hidden {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    position: absolute;
    gap: 20px;
    list-style: none;
    right: 155px;
  }

  a {
    text-decoration: none;
    color: #344563;
  }

  .work {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 114px;
    padding: 24px;
  }

  .right {
    flex-direction: row-reverse;
  }

  .img-work {
    width: 50%;
    height: 448px;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 24px 22px 0 22px;
  }

  .work-title {
    font-size: 40px;
    line-height: 52px;
  }

  .sub-desc {
    width: 100%;
  }

  .description {
    width: 100%;
  }

  .about-me {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 142px;
  }

  .left-side {
    width: 50%;
  }

  .techlist {
    width: 100%;
  }

  .lang-subs {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .bottom {
    width: 100%;
  }

  .grey-background {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    width: 122px;
    height: 120px;
  }

  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/dsktpcontactshapes@2x.png);
    background-size: contain;
    background-position: center;
    padding: 142px 0 120px 0;
    margin: 0;
  }

  #contact-me-title {
    width: 801px;
    margin: 0;
    margin-bottom: 12px;
  }

  #cont-desc {
    width: 596px;
    margin: 0;
    padding: 0;
  }

  form {
    width: 447px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
  }

  .white {
    width: 140px;
    height: 48px;
    overflow: hidden;
    margin: 0;
    margin-top: 27px;
  }

  #popup-content {
    width: 70%;
    margin: 20% 0;
    padding-bottom: 50px;
  }

  #popup-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-top: 20px;
  }

  .project-skills {
    display: flex;
    gap: 20px;
  }

  #popup-description {
    width: 65%;
  }
}
