@media screen and (min-width: 768px) {
  .main-wrapper {
    padding: 200px 160px 130px 200px;
  }

  .main {
    width: 100%;
  }

  #circle {
    transform: scale(1.5, 1.5);
    /* top: -100px;
    right: -100px; */
  }

  #first-title {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    width: 430px;
  }

  header {
    width: 100%;
    height: 70px;
  }

  .alert {
    top: 70px;
    text-align: center;
  }

  #logo {
    width: 70px;
    height: 70px;
    left: 155px;
  }

  #hamburger-btn {
    display: none;
  }

  .nav-hidden {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
    position: absolute;
    gap: 0 20px;
    list-style: none;
    right: 140px;
  }

  .nav-item {
    text-decoration: none;
    color: var(--text);
  }

  .nav-item:hover {
    color: var(--main-purple);
  }

  .work-container {
    align-items: center;
    padding-top: 115px;
    padding-bottom: 110px;
  }

  .work {
    width: 90%;
    flex-direction: row;
    margin-bottom: 114px;
    padding: 24px;
  }

  .right {
    flex-direction: row-reverse;
  }

  /* .workImg-container {
    height: 50vh;
  } */

  .img-work {
    width: 50%;
    height: 448px;
  }

  .text-wrapper {
    flex-direction: column;
    width: 50%;
    padding: 24px 22px 0 22px;
  }

  .info {
    flex-direction: column;
  }

  .work-title {
    font-size: 40px;
    line-height: 52px;
  }

  .sub-desc {
    width: 100%;
  }

  .description {
    width: 100%;
  }

  .about-me {
    padding: 114px 10%;
    align-items: center;
  }

  .latest-works {
    display: block;
    width: 100%;
    padding: 0 24px;
  }

  .techlist {
    width: 90%;
  }

  .lang-subs {
    flex-direction: row;
    gap: 12px;
  }

  .bottom {
    width: 100%;
  }

  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/dsktpcontactshapes@2x.png);
    background-size: contain;
    background-position: center;
    padding: 142px 0 120px 0;
    margin: 0;
  }

  #contact-me-title {
    width: 801px;
    margin: 0;
    margin-bottom: 12px;
  }

  #cont-desc {
    width: 596px;
    margin: 0;
    padding: 0;
  }

  form {
    width: 447px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
  }

  .white {
    width: 140px;
    height: 48px;
    overflow: hidden;
    margin: 0;
    margin-top: 27px;
  }

  .popup-content {
    width: 70%;
    margin: 40px auto;
  }

  #popup-title {
    padding: 0 20px;
  }

  #popup-content .sub-desc {
    margin-left: 20px;
  }

  #popup-img {
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
  }

  .project-skills {
    display: flex;
    gap: 40px;
    padding: 30px 0;
  }

  #popup-description {
    width: 65%;
  }

  .work,
  .info {
    display: flex;
  }

  .content {
    flex-direction: row;
    gap: 0 10px;
  }



  /* Social media icons */
  .footer-icons {
    display: none;
  }

  .footer {
    height: 50px;
  }

  .desktop-icons {
    display: flex;
    list-style: none;
    position: fixed;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 12px;
    right: 60px;
    bottom: 100px;
  }

  .slider:hover {
    box-shadow: 0 0 10px var(--dark-grey);
  }

  svg:hover {
    color: var(--main-purple);
    transform: translate(0, -50%);
    transition: transform 0.5s;
  }

  .desktop-icons > li > a > svg {
    width: 16px;
    height: 16px;
  }

  #vertical-line {
    position: fixed;
    height: 100px;
    border-right: 1px solid var(--text);
    bottom: 0;
    right: 68px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding: 200px 200px 130px 200px;
  }

  #first-title {
    width: 100%;
  }

  .about-me {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }

  .left-side {
    width: 60%;
  }
}
