* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;

  /* color: #091e42; */
  color: #000;
  background-color: #f7f7f9;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  animation-name: header;
}

.nav-hidden {
  display: none;
}

button#hamburger-btn {
  cursor: pointer;
  right: 36px;
  position: absolute;
  background-image: url('../assets/Union.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

#logo {
  left: 36px;
  display: flex;
  align-items: center;
  position: absolute;
}

#first-title {
  width: 100%;
  float: left;
  padding-right: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  animation-duration: 3s;
  animation-name: heading;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

#main-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
  width: 100%;
}

.connect {
  color: #6070ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.main {
  background-image: url('../assets/header-shapes.png');
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: cover;
  border-bottom-left-radius: 55px;
  top: 48px;
  width: 100%;
  padding: 114px 24px 114px 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 114px;
}

.icons {
  list-style: none;
  gap: 20px;
  width: 170px;
  display: flex;
  margin: 12px 0;
}

.grid-container {
  padding: 0 24px;
  display: grid;
  grid-template-columns: 100%;
}

.work {
  padding: 16px;
  box-shadow: 0 0 1px rgb(72, 72, 72);
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  margin-bottom: 114px;
}

.img-work {
  border-radius: 8px;
  width: 100%;
  margin: 6px 0;
  transition: all 2s;
}

.img-work:hover {
  transform: rotateY(180deg);
  transform: scale(1.1);
}

.work-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.sub-desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 12px 0;
  gap: 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.description {
  color: #344563;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  margin: 12px 0;
}

.languages {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 12px 0;
  width: 100%;
}

.lang {
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  background-color: #ebebff;
  border-radius: 8px;
}

.detail-btn {
  cursor: pointer;

  /* transition: all 1s; */
  color: #396df2;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: transparent;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 12px 0;
  width: fit-content;
}

.detail-btn:hover {
  background-color: #6070ff;
  color: #fff;

  /* transform: rotateY(180deg); */
}

.brand {
  color: #091e42;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.about-me {
  width: 100%;
  display: flex;
  flex-direction: column;

  /* align-items: flex-start; */
  justify-content: center;
  padding: 114px 24px 113px 24px;
  background-color: #fff;
  border-top-right-radius: 55px;
}

.about-myself-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 12px;
}

#about-description {
  width: 100%;
  padding-right: 24px;
  margin-bottom: 12px;
}

.techlist {
  list-style: none;
  width: 100%;
}

.grey-background {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  width: 100%;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0 12px 0;
  box-sizing: border-box;
  padding: 8px;
  gap: 16px;
  color: #253858;
}

.dropdown {
  width: 100%;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 0;
}

.bottom {
  border-bottom: 1px solid #dfe1e6;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  background-image: url('../assets/contactshapes.png');
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 55px;
  padding: 103px 24px 40px 24px;
  text-align: center;
  color: #ebebff;
}

#contact-me-title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 12px;
}

#cont-desc {
  margin-bottom: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.txt {
  width: 100%;
  height: 48px;
  color: #091e42;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid transparent;
}

#txtarea {
  width: 100%;
  height: 170px;
  color: #7a869a;
  margin-bottom: 2px;
  border-radius: 8px;
  padding: 15px 38px 15px 15px;
}

.white {
  background-color: #fff;
}

.white:hover {
  background: #7066f8;
  color: #fff;
}

.white:active {
  background: #4017cc;
  color: #fff;
}

@keyframes heading {
  from {
    margin-left: -100%;
    width: auto;
  }

  to {
    margin-left: 0%;
    width: auto;
  }
}

.main.active {
  filter: blur(4px);
}

#exit-btn {
  cursor: pointer;
  right: 36px;
  position: absolute;
  background-image: url('../assets/cancel.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

.nav-menu {
  display: none;
}

.nav-menu.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #6070ff;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  justify-content: space-between;
  list-style-type: none;
  opacity: 0.9;
  margin-top: 50px;
  margin-left: 30px;
}

.mobile-menu > li > a {
  color: #fff;
  font-size: 32px;
  text-decoration: none;
}

body.active {
  overflow-y: hidden;
}

#popup-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(193, 199, 208, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  display: none;
}

#popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #fff;
  width: 343px;
  z-index: 3;
  padding: 18px 16px;
  box-sizing: border-box;
  border-radius: 10px;
  padding-bottom: 30px;
}

#close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 35px;
  color: #67798e;
}

#popup-content h2 {
  font-size: 32px;
  margin: 0;
  color: #172b4d;
  width: 70%;
}

#popup-description {
  font-size: 15px;
  color: #344563;
  margin-top: 10px;
}

#popup-img {
  width: 311px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

#live-btn img,
#source-btn img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

#live-btn,
#source-btn {
  text-decoration: none;
  font-size: 15px;
  color: #6070ff;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #6070ff;
}

#popup-overlay.active {
  display: block;
}

#popup-content.active {
  transform: translate(-50%, -50%) scale(1);
}

.project-info .languages {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebecf0;
}

.error {
  font-size: 15px;
  color: #9d0208;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  align-self: flex-start;
}

#email.active {
  color: #9d0208;
  border: 2px solid #9d0208;
  margin-bottom: 0;
}
