:root {
  --bg-color: #f7f7f9;
  --main-purple: #6070ff;
  --black: #000;
  --white: #fff;
  --dark-blue: #344563;
  --soft-purple: #ebebff;
  --dark-grey: #7a869a;
  --lg-grey: #f7f7f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  color: var(--black);
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

.d-flex {
  display: flex;
}

header {
  position: fixed;
  background-color: var(--white);
  width: 100%;
  height: 48px;
  align-items: center;
  animation-name: header;
}

.nav-hidden {
  display: none;
}

button#hamburger-btn {
  cursor: pointer;
  right: 36px;
  position: absolute;
  background-image: url('../assets/Union.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

#logo {
  position: absolute;
  width: 50px;
  height: 40px;
  top: 0;
  padding: 5px;
}

#first-title {
  width: 100%;
  float: left;
  padding-right: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  animation-duration: 3s;
  animation-name: heading;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

#main-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-blue);
  margin: 12px 0;
  width: 100%;
}

.connect {
  color: var(--main-purple);
  margin: 12px 0;
  font-weight: 600;
  font-size: 16px;
}

.main {
  background-image: url('../assets/header-shapes.png');
  background-repeat: no-repeat;
  background-color: var(--white);
  background-size: cover;
  border-bottom-left-radius: 55px;
  top: 48px;
  width: 100%;
  padding: 114px 24px 114px 24px;
  flex-direction: column;
  margin-bottom: 114px;
}

.icons {
  list-style: none;
  gap: 20px;
  width: 170px;
  margin: 12px 0;
}

.work-container {
  padding: 0 24px;
  flex-direction: column;
}

.work {
  padding: 16px;
  box-shadow: 0 0 1px var(--dark-grey);
  background-color: var(--white);
  border-radius: 16px;
  border: 1px solid var(--lg-grey);
  margin-bottom: 114px;
}

.img-work {
  border-radius: 8px;
  width: 100%;
  margin: 6px 0;
  transition: all 2s;
}

.img-work:hover {
  transform: rotateY(180deg);
  transform: scale(1.1);
}

.work-title {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.sub-desc {
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 12px 0;
  gap: 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--dark-grey);
}

.description {
  color: var(--dark-blue);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  margin: 12px 0;
}

.languages {
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 12px 0;
  width: 100%;
}

.lang {
  color: var(--main-purple);
  font-weight: 500;
  font-size: 12px;
  padding: 4px 12px;
  align-items: center;
  background-color: var(--soft-purple);
  border-radius: 8px;
}

.detail-btn {
  cursor: pointer;
  color: var(--main-purple);
  padding: 12px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-purple);
  box-sizing: border-box;
  border-radius: 8px;
  background-color: transparent;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 12px 0;
  width: fit-content;
}

.detail-btn:hover {
  background-color: var(--main-purple);
  color: var(--white);
}

.brand {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.about-me {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 114px 24px 113px 24px;
  background-color: var(--white);
  border-top-right-radius: 55px;
}

.about-myself-title {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 12px;
}

#about-description {
  width: 100%;
  padding-right: 24px;
  margin-bottom: 12px;
}

.techlist {
  list-style: none;
  width: 100%;
}

/* Collapsible menu */
.collapsible {
  width: 100%;
  color: var(--black);
  font-weight: 500;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 0;
}

.active,
.collapsible:hover {
  background-color: var(--soft-purple);
  color: var(--main-purple);
  cursor: pointer;
}

.collapsible::after {
  content: '\02795';
  float: right;
  font-size: 13px;
}

.collapsible.active::after {
  content: "\2796";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  flex-direction: column;
}

.grey-background {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 122px;
  height: 120px;
  background: var(--lg-grey);
  color: var(--dark-blue);
  gap: 16px;
  border-radius: 8px;
  margin: 12px 0 12px 0;
}

/*  Collapse menu */

.bottom {
  border-bottom: 1px solid #dfe1e6;
  width: 100%;
}

.contact {
  flex-direction: column;
  background-color: var(--main-purple);
  background-image: url('../assets/contactshapes.png');
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 55px;
  padding: 103px 24px 40px 24px;
  text-align: center;
  color: var(--soft-purple);
}

#contact-me-title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 12px;
}

#cont-desc {
  margin-bottom: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.txt {
  width: 100%;
  height: 48px;
  color: var(--dark-blue);
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid transparent;
}

#txtarea {
  width: 100%;
  height: 170px;
  color: var(--lg-grey);
  margin-bottom: 2px;
  border-radius: 8px;
  padding: 15px 38px 15px 15px;
}

.white {
  background-color: var(--white);
}

.white:hover {
  background: var(--main-purple);
  color: var(--white);
}

.white:active {
  background: var(--main-purple);
  color: var(--white);
}

@keyframes heading {
  from {
    margin-left: -100%;
    width: auto;
  }

  to {
    margin-left: 0%;
    width: auto;
  }
}

.main.active {
  filter: blur(4px);
}

#exit-btn {
  cursor: pointer;
  right: 36px;
  position: absolute;
  background-image: url('../assets/cancel.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

.nav-menu {
  display: none;
}

.nav-menu.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-purple);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mobile-menu {
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  justify-content: space-between;
  list-style-type: none;
  opacity: 0.9;
  margin-top: 50px;
  margin-left: 30px;
}

.mobile-menu > li > a {
  color: var(--white);
  font-size: 32px;
  text-decoration: none;
}

body.active {
  overflow-y: hidden;
}

#popup-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(193, 199, 208, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  display: none;
}

#popup-content {
  background-color: var(--white);
  width: 343px;
  z-index: 3;
  padding: 18px 16px 30px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 40px auto;
}

#popup-title {
  width: 100%;
  justify-content: space-between;
}

#close-btn {
  cursor: pointer;
  font-size: 35px;
  color: #67798e;
  margin-right: 10px;
}

#popup-content h2 {
  font-size: 32px;
  margin: 0;
  color: var(--dark-blue);
  width: 70%;
}

#popup-description {
  font-size: 15px;
  color: var(--dark-blue);
  margin-top: 10px;
}

#popup-img {
  width: 311px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

#live-btn img,
#source-btn img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.buttons {
  width: 100%;
  justify-content: center;
  gap: 10px;
}

#live-btn,
#source-btn {
  text-decoration: none;
  font-size: 15px;
  color: var(--main-purple);
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--main-purple);
}

#popup-overlay.active {
  display: block;
}

.project-info .languages {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--soft-purple);
}

.error {
  font-size: 15px;
  color: #9d0208;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  align-self: flex-start;
}

#email.active {
  color: #9d0208;
  border: 2px solid #9d0208;
  margin-bottom: 0;
}
