
:root {
  /* Light Mode */
  --bg-color: #f7f7f9;
  --main-purple: #6070ff;
  --white: #fff;
  --text: #333661;
  --soft-purple: #ebebeb;
  --dark-grey: #272727;
  --lg-grey: #c9c9c9;
  --mobile-menu: #6070ff;
  --nav-number: #333661;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

[data-theme="dark"] {
  /* Dark Mode */
  --bg-color: rgb(32, 30, 30);
  --main-purple: #6070ff;
  --white: rgba(250, 250, 250, 0.137);
  --text: #ffffffd2;
  --soft-purple: #333661;
  --dark-grey: #000;
  --lg-grey: #000;
  --mobile-menu: #333661;
  --nav-number: #6070ff;
}

svg {
  color: var(--text);
}

body {
  width: 100%;
  color: var(--text);
  font-family: 'Roboto Mono', monospace;
  background-color: var(--bg-color);
}

.d-flex {
  display: flex;
}

header {
  position: fixed;
  background-color: var(--soft-purple);
  width: 100%;
  height: 48px;
  align-items: center;
  z-index: 4;
  box-shadow: 0 0 10px var(--dark-grey);
}

.nav-number {
  color: var(--nav-number);
  font-size: 16px;
  font-weight: 600;
}

.nav-hidden {
  display: none;
}

#logo {
  position: absolute;
  width: 50px;
  height: 40px;
  top: 0;
  padding: 5px;
  transition: all 2s ease-in-out;
}

#logo:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

#first-title {
  width: 100%;
  float: left;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  animation: heading 2s 1 alternate;
}

.main-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
  width: 100%;
  animation: heading 4s 1 alternate;
}

.desktop-icons {
  display: none;
}

.main-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 0 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-illustration {
  transform: scale(-1, 1);
  position: relative;
  opacity: 1;
  width: 300px;
  right: -47px;
  bottom: -100px;
  z-index: 2;
}

#main-small-title {
  color: var(--main-purple);
  font-weight: 600;
  animation: heading 2s 1 alternate;
}

.main {
  position: static;
  flex-direction: column;
  padding: 100px 0 0 0;
  z-index: 3;
}

.alert {
  position: absolute;
  width: 100%;
  top: 48px;
  background-color: var(--main-purple);
  color: var(--text);
  padding: 5px 10px;
  left: 0;
}

.stack::before,
.year::before {
  content: "\25CF";
}

.stack,
.year {
  color: var(--main-purple);
}

.switchTheme {
  position: relative;
  border-radius: 11px;
  display: block;
  width: 40px;
  height: 22px;
  flex-shrink: 0;
  border: 1px solid var(--vp-c-divider);
  background-color: var(--vp-c-bg-mute);
  transition: border-color 0.25s;
}

#about-illustration {
  position: absolute;
  width: 150px;
  bottom: 250px;
  right: 50px;
  height: 150px;
  z-index: 3;
}

.up-arrow {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  width: 40px;
  height: 40px;
  background-color: var(--soft-purple);
  color: var(--text);
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
}

.footer {
  position: sticky;
  background-color: var(--main-purple);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

#copyright {
  font-size: 12px;
}

.footer-icons {
  list-style: none;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
}

.footer-icons > li > a {
  padding: 10px;
  border: 2px solid var(--bg-color);
  background-color: var(--bg-color);
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 100%;
}

.footer-icons > li > a > svg {
  width: 20px;
  height: 20px;
  background-color: var(--bg-color);
}

/* Work container */
.work-container {
  padding: 100px 10% 0 10%;
  flex-direction: column;
}

.latest-works {
  text-align: right;
  margin-bottom: 40px;
}

.work {
  padding: 16px;
  box-shadow: 0 0 10px var(--dark-grey);
  background-color: var(--white);
  border-radius: 16px;
  border: 1px solid var(--lg-grey);
  margin-bottom: 114px;
}

.img-work {
  border-radius: 8px;
  width: 100%;
  height: 300px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 6px 0;
  transition: all 1s ease;
}

.img-work:hover {
  transform: scale(1.05);
  outline: 10px solid var(--main-purple);
}

.sub-desc {
  /* padding: 10px 20px; */
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
  gap: 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--dark-grey);
}

.description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  margin: 12px 0;
}

.languages {
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 12px 0;

  /* width: 100%; */
}

.lang {
  color: var(--text);
  font-weight: 500;
  font-size: 12px;
  padding: 4px 12px;
  align-items: center;
  background-color: var(--soft-purple);
  border-radius: 8px;
  word-break: keep-all;
}

.detail-btn {
  cursor: pointer;
  color: var(--main-purple);
  padding: 12px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-purple);
  background-color: transparent;
  border-radius: 5px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 30px;
  width: fit-content;
}

.detail-btn:hover {
  transition: all 0.2s linear;
  background-color: var(--main-purple);
  color: var(--bg-color);
}

.brand {
  color: var(--text);
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

/* About Section */

.about-me {
  width: 100%;
  flex-direction: column;
  justify-content: center;

  /* padding: 114px 0 113px 0; */
}

.title {
  width: 100%;
  line-height: 52px;
  border-bottom: 2px solid var(--main-purple);
}

#about-description {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  animation: heading 3s;
}

.about-illustration {
  width: 100%;
  height: 350px;
  background-image: url('../assets/about.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.left-side {
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}

.techlist {
  list-style: none;
  width: 80%;
  padding: 100px 0;
}

#circle {
  position: absolute;
  right: -100px;
  top: 0;
  opacity: 0.4;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background-color: var(--main-purple);
  z-index: 1;
}

/* Collapsible menu */

.collapsible {
  width: 80%;
  color: var(--text);
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 20px;
}

.active,
.collapsible:hover {
  background-color: var(--soft-purple);
  color: var(--main-purple);
  cursor: pointer;
}

.collapsible::after {
  content: '\268E';
  float: right;
  font-size: 30px;
  opacity: 0.9;
  color: #6070ff;
}

.collapsible.active::after {
  content: "\268A";
  font-weight: 600;
}

.content {
  flex-wrap: wrap;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  gap: 0 10px;
}

.grey-background {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 130px;
  height: 130px;
  border-bottom: 2px solid var(--soft-purple);
  border-left: 2px solid var(--soft-purple);
  gap: 10px;
  border-radius: 100px;
  margin: 12px 0 12px 0;
}

/*  Contact Section */

textarea {
  border: none;
}

.bottom {
  border-bottom: 1px solid #dfe1e6;
  width: 100%;
}

.contact {
  flex-direction: column;
  background-color: var(--main-purple);
  background-image: url('../assets/contactshapes.png');
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 55px;
  padding: 103px 24px 40px 24px;
  text-align: center;
  box-shadow: 0 0 10px var(--dark-grey);
}

#contact-me-title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 12px;
}

#cont-desc {
  margin-bottom: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.txt {
  width: 100%;
  height: 48px;
  background-color: var(--soft-purple);
  color: var(--text);
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: none;
}

#txtarea {
  width: 100%;
  height: 170px;
  border-radius: 8px;
  padding: 15px 38px 15px 15px;
}

/* Contact section end */

.white {
  background-color: var(--soft-purple);
  transition: all 0.1s ease-in;
}

.white:hover {
  background: var(--main-purple);
  color: var(--text);
  border: 2px solid var(--text);
}

.white:active {
  background: var(--main-purple);
  color: var(--white);
}

.nav-menu {
  display: none;
}

/* Hamburger button */
.bar {
  display: block;
  width: 27px;
  height: 3px;
  margin: 5px auto;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  background-color: var(--text);
}

.hamburger {
  display: block;
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  right: 10px;
}

/* hamburger button end */

/* Mobile menu active */
.nav-menu.active {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 0;
  right: 0;
  background-color: var(--mobile-menu);
  width: 70%;
  height: 100%;
  z-index: 4;
  box-shadow: 0 0 10px var(--dark-grey);
}

.alert.active {
  display: none;
}

header.active {
  background-color: transparent;
  z-index: 5;
  box-shadow: none;
}

.mobile-menu {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  cursor: default;
  gap: 40px;
}

.mobile-menu > li {
  cursor: pointer;
}

.mobile-menu > li > a {
  color: #fff;
  font-size: 32px;
  text-decoration: none;
}

.mobile-menu > li > a:hover {
  color: var(--dark-grey);
}

body.active {
  overflow-y: hidden;
}

.main-wrapper.active {
  filter: blur(4px);
}

main.active {
  filter: blur(4px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Popup Menu */

.popup-overlay {
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #5765e0f1;
  position: fixed;
  top: 0;
  overflow-y: hidden;
  display: none;
}

.popup-content {
  background-color: var(--bg-color);
  cursor: default;
  width: 80%;
  z-index: 5;
  padding: 18px 16px 30px;
  border-radius: 10px;
  margin: 40px auto;
  color: var(--text);
}

#exit-btn {
  cursor: pointer;
  right: 36px;
  position: absolute;
  background-image: url('../assets/cancel.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

#popup-title {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#work-title {
  flex-grow: 1;
  flex-wrap: nowrap;
}

#close-btn {
  cursor: pointer;
  font-size: 35px;
  margin-right: 10px;
}

.popup-content h2 {
  font-size: 32px;
  margin: 0;
  width: 70%;
}

#popup-description {
  font-size: 15px;
  padding: 15px 0;
  height: 150px;
  overflow-y: scroll;
}

.workImg-container {
  overflow-y: scroll;
  width: 100%;
  height: 35vh;
}

#popup-img {
  background-size: cover;
  background-position: center;
  height: inherit;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.buttons {
  width: 100%;
  justify-content: center;
  padding-top: 15px;
  gap: 10px;
}

#live-btn,
#source-btn {
  text-decoration: none;
  font-size: 15px;
  color: var(--main-purple);
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--main-purple);
}

#live-btn:hover,
#source-btn:hover {
  background-color: var(--main-purple);
  color: white;
}

.popup-overlay.active {
  display: block;
}

.project-info .languages {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--soft-purple);
}

/* Pupup menu end */

.error {
  font-size: 15px;
  color: #9d0208;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  align-self: flex-start;
}

#email.active {
  color: #9d0208;
  border: 2px solid #9d0208;
  margin-bottom: 0;
}

.resume-btn {
  text-decoration: none;
  position: relative;
  background-color: var(--main-purple);
  color: #fff;
  padding: 20px;
  will-change: transform;
}

.resume-btn:hover {
  transition: all 300ms ease;
  background-color: transparent;
  border: 2px solid var(--main-purple);
  border-radius: 4px;
  color: var(--main-purple);
}

.resume-btn::before,
.resume-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  background-color: var(--main-purple);
  transition: all 250ms linear;
}

.resume-btn::before {
  width: 2px;
  height: 60px;
  box-shadow: 163px 0 var(--main-purple);
}

.resume-btn::after {
  height: 2px;
  width: 165px;
  box-shadow: 0 58px var(--main-purple);
}

.resume-btn:hover::before {
  left: -10px;
  box-shadow: 184px 0 var(--main-purple);
}

.resume-btn:hover::after {
  top: -10px;
  box-shadow: 0 80px var(--main-purple);
}

footer {
  background-color: var(--white);
}

/* Theme switch */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 42px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--lg-grey);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
  cursor: pointer;
}

.slider::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 3px;
  height: 20px;
  width: 20px;
  transition: 0.4s;
  background-color: #fff;
}

input:checked + .slider {
  background-color: #a5292904;
}

input:checked + .slider::before {
  transform: translateX(17px);
}

.slider.round {
  border-radius: 25px;
}

.slider.round::before {
  border-radius: 50%;
}

/* Theme switch end */

/* Animations */

@keyframes heading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* animation end  */
